html {
	font-size: 62.5%;
	scroll-behavior: smooth;
}

body {
	// Base Fonts
	height: 100%;
	font-family: $primaryFont;
	font-family: $condensedFont;
	/* add another item to body, if required ie: color */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.wrapper {
	margin: 0 auto;
	max-width: 1280; /* change max width & width, if required*/
	width: 90%;
}

ul {
	/* Clears li and ul */
	padding: 0;
	margin: 0;
	list-style: none;
	li {
		list-style: none;
	}
}

a {
	text-decoration: none;
	list-style: none;
}

img {
	/* add class(in front of img tag),if needed... removes white space */
	display: block;
	max-width: 100%;
}

// FONTS
h1 {
	color: $textColorMed;
	font-family: $condensedFont;
	// font-size: 10rem;
	// font-size: calc(8vw + 2.5rem);
	font-size: clamp(40px, calc(8vw + 2.5rem), 12rem);
	font-weight: 800;
	text-align: center;
	span {
		color: $textColorMed;
	}
}

// LANDING Page
.landingPg {
	background-color: $darkColor; //fallback
	background-image: linear-gradient(
		90deg,
		$darkColor 0%,
		$darkColor 50%,
		$lightColor 50%,
		$lightColor 100%
	);
	//layout
	display: grid;
	// height: 100vh;
	// width: 100%;
	min-height: 100vh;
	height: 100%;
	max-width: 100vw;
	width: 100%;
	justify-items: center;
	align-items: center;
}
