// FONTS
$primaryFont: "proxima-nova", sans-serif; // Thin 100, Light 300, Regular 400, SemiBold 600
$condensedFont: "proxima-nova-condensed", sans-serif; // Extrabold 800, Black 900

// COLORS
$darkColor: hsl(0, 0%, 20%);
$lightColor: hsl(0, 0%, 90%);
